@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:wght@200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --preto-primary: #000000;
    --cinza-primary: #ccc;
    --roxo-primary: #9353ff;
    --amarelo-primary: #DAFF01;
}

* {
    margin: 0;
    padding: 0;
  }
  .ff-raleway { font-family: 'Raleway', sans-serif; }
  .ff-calistoga { font-family: 'Calistoga', cursive; }
  .ff-inter { font-family: "Inter", cursive; }
  
  
  .margin-top-1{
    margin-top: 1rem;
  }

  hr{
    margin: 2rem 0;
  }
  
  .header {
    margin: 1rem auto 2rem;
  }
  
  .container {
    width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
  }
  

  .botao {
    background: #154580;
    color: #ffffff;
    max-width: 270px;
    width: 250px;
    padding: 1rem;
    margin: 0 auto;
    border: 2px solid #154580;
    border-radius: 10px;
    transition: 0.5s ease;
  }
  
  .botao:hover {
    border: 2px solid #84EEC1;
    color: #84EEC1;
  }
