.promocoes{
    padding: 4rem 20%;
}
.promocoes__container{
    border: 2px solid var(--preto-primary);
    padding: 40px;
}
.promocoes__titulo-texto{
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .promocoes{
        padding: 4rem 10%;
    }
}

@media screen and (max-width: 375px) {
    .promocoes__container{
        padding: 20px;
    }
    
}