.cabecalho{
    background-color: var(--preto-primary);
    padding: 1.5rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho-mobile__container{
    display: none;
}
.cabecalho-mobile__container-search{
    display: none;
}

.cabecalho__sections-links{
    display: flex;
    align-items: center;
    margin-left: 3rem;
}

@media screen and (max-width: 768px) {
    .cabecalho{
        padding: 1rem 0 1rem 1rem;
    }
    .cabecalho__sections-links{
        margin-left: 0.5rem;
    }
}

@media screen and (max-width: 375px) {
    .cabecalho{
        display: none;
    }
    .cabecalho-mobile__container{
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
}