.categoria{
    width: 100%;
    margin-top: 4rem;
}
.categoria__titulo-texto{
    color: var(--preto-primary);
    font-weight: 500;
    text-align: center;
    font-size: 2rem;
}
.card{
    width: 100%;
}
.categoria__cards{
    margin-top: 4rem;
    display: grid;
    max-width: 100%;
    gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100%;
    width: 100%;
}