.produto{
    margin-top: 4rem;
}

.produto__titulo-texto{
    font-size: 2rem;
    text-align: center;
    color: var(--preto-primary);
    font-weight: 500;
}
.produtos__cards{
    display: grid;
    margin-top: 4rem;
    gap: 1rem;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 768px) {
    .produtos__cards{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 375px) {
    .produtos__cards{
        grid-template-columns: 1fr;
    }
}